*, ::after, ::before {
  box-sizing: border-box;
}
li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  h1{
    text-align: center;
    text-shadow: yellow;
  }
  h2{
    color: tomato;
  }
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  html, body {
    color: white;
    background-color: beige;
    background-image: url('../img/burger.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #devour{
    color:white;
    font-weight: bold;
  }
  .devourBtn{
    text: white;
    background-color: tomato;
  }
  .card{
    background-color: transparent !important;
    border: none !important
  }
  .card-body{
    width: 40%;
  }
