li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  html, body {
    color: white;
    background-color: beige;
    background-image: url('../img/burger.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  